<%= link_to "New Articles", new_article_path %>

<table>
  <% @articles.each do |article| %>
  <tr>
    <td><%= link_to article.title, article_path(article) %></td>
    <td><%= truncate(article.body, length: 100) %></td>
  </tr>
<% end %>
</table>
